
<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><a href="/"> {{'HOME' | translate}}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul>
      <li><a href="/pages"><span class="glyphicon glyphicon-list-alt"></span> {{'pages'|translate}}</a></li>
      <li><a href="/posts"><span class="glyphicon glyphicon-magnet"></span> {{'posts'|translate}}</a></li>
      <li><a href="/files"><span class="glyphicon glyphicon-plane"></span> {{'files'|translate}}</a></li>
    </ul>
    <ul class="right">
      <li>
        <a href="#" class="button" ng-click="logout()">{{'LOGOUT' | translate}} {{ loggedUser.login }}</a>
      </li>
    </ul>
  </section>

</nav>
