
<a href="#" data-nodrag ng-click="ttoggle(this);">
  <i class="fa" ng-class="{'fa-file-text-o': node.nodes.length==0, 'fa-folder': collapsed, 'fa-folder-open': !collapsed}"></i> {{node.name}}
</a>

<a href="/pages/edit/{{node.path}}"><i class="fa fa-plus"></i></a>
<a href="/pages/edit/{{node.path}}"><i class="fa fa-pencil"></i></a>
<a href="#" ng-click="removeP(this);" ng-hide="{{node.name.path==0}}"><i class="fa fa-trash-o"></i></a>

<ul ui-tree-nodes="" ng-model="node.nodes" ng-class="{hide: collapsed}" data-nodrop>
  <li ng-repeat="node in node.nodes" ui-tree-node data-collapsed="isCollapsed(this);" ng-include="'mixins/nodes_renderer.html'">
  </li>
</ul>
