
<div class="row">
  <div class="small-12 large-12 columns">
    <h1>{{'administration of' | translate}} {{conf.siteurl}}</h1>
  </div>
</div>

<div class="row">

  <div class="small-12 large-6 columns">

    <h2>{{'login'|translate}} <i class="fa fa-user"></i></h2>

    <p translate>
      You need authenticate prior to administrate.
      Please use credetials of your github account,
      that has access to selected repository.
    </p>

  </div>

  <div class="small-12 large-6 columns">

    <form data-ng-submit="login();" name="loginfrm" role="form">

      <div class="form-group" ng-show="conf.repos.length > 1">
        <label class="control-label">{{'Select web for administration'|translate}}</label>

        <select class="form-control" ng-model="selectedRepo"
          ng-options="r as r.site for r in conf.repos track by r.site">
        </select>
      </div>

      <div class="form-group">
        <input type="text" name="uname" class="form-control"
          placeholder="{{'username'|translate}}"
          required autofocus ng-model="credentials.username">

        <div class="error-container" ng-show="loginfrm.uname.$dirty && loginfrm.uname.$invalid">
          <small class="error" ng-show="loginfrm.uname.$error.required">
            {{'Input username'|translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="password" name="passwd" class="form-control"
          placeholder="{{'password'|translate}}"
          required ng-model="credentials.password">

        <div class="error-container" ng-show="loginfrm.passwd.$dirty && loginfrm.passwd.$invalid">
          <small class="error" ng-show="loginfrm.passwd.$error.required">
            {{'Input your password'|translate}}
          </small>
        </div>
      </div>

      <div data-ng-show="error" data-alert class="alert-box warning round" role="alert">
        {{ error }}. <a href="https://github.com/password_reset">Forgot your password?</a>
        <a href="#" class="close">&times;</a>
      </div>

      <button class="button">
        <i class="fa fa-sign-in"></i> {{'login'|translate}}
      </button>

    </form>

  </div>

</div>
