<div>

  <div class="row">

    <div class="small-12 large-6 columns">

      <label>{{"title" | translate}}</label>
      <input type="text" ng-model="info.title" />

      <label>{{"link" | translate}}</label>
      <input type="text" ng-model="info.link"
        typeahead="o.name for o in loadOptions($viewValue) | filter:$viewValue" />

      <ul class="button-group radius">
        <li><a href="#" class="button" ng-click="ok();" ng-disabled="OKdisabled">OK</a></li>
        <li><a href="#" class="button secondary" ng-click="cancel();">cancel</a></li>
      </ul>

    </div>

    <div class="small-12 large-6 columns">

      <div ui-tree id="tree-root" data-drag-enabled="false">
        <ul ui-tree-nodes="" ng-model="pages">
          <li ng-repeat="node in pages" ui-tree-node ng-include="'mixins/nodes_renderer_select.html'"></li>
        </ul>
      </div>

      <h4 translate>posts</h4>
      <ul>
        <li ng-repeat="p in posts">{{p}}</li>
      </ul>
    </div>

  </div>

</div>
