<ul class="breadcrumbs">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li class="current" translate>posts</li>
</ul>

<div class="row fullWidth">

  <div class="small-12 columns">

    <h1 translate>posts</h1>

    <a href="/posts/add" class="button">
      <i class="fa fa-plus"></i> {{'add new post'|translate}}
    </a>

    <table>
      <tr ng-repeat="p in posts">
        <td>{{ p.name }}</a></td>
        <td><a href="/posts/edit/{{p.name}}">
          <i class="fa fa-pencil-square-o"></i> {{'edit'|translate}}
        </a></td>
      </tr>
    </table>
  </div>
</div>
